<app-header class="mat-elevation-z2"></app-header>
<mat-sidenav-container (backdropClick)="layout.toggleSidenav(false)">
  <mat-sidenav #sidenav mode="side" class="mat-elevation-z2" [opened]="layout.isSidenavOpen$ | async" (keydown.escape)="layout.toggleSidenav(false)" disableClose>
    <p class="app-p-1r">Actions</p>
    <router-outlet name="sidenav.actions"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-portal></app-portal>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
