// Custom Theming for Angular Material: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./styles.theme" as styles;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$concept-bed-ui-primary: mat.define-palette(mat.$indigo-palette, 400);
$concept-bed-ui-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$concept-bed-ui-warn: mat.define-palette(mat.$red-palette);
$concept-bed-ui-frames: mat.define-palette(mat.$teal-palette, 600);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$concept-bed-ui-theme: mat.define-dark-theme(
  (
    color: (
      primary: $concept-bed-ui-primary,
      accent: $concept-bed-ui-accent,
      warn: $concept-bed-ui-warn,
    ),
  )
);

// Use https://github.dev/angular/components/blob/master/src/material/core/theming/_theming.scss for
// getting the palette names for application UI elements

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($concept-bed-ui-theme);
@include mat.sidenav-theme($concept-bed-ui-theme);
@include mat.divider-theme($concept-bed-ui-theme);
@include mat.toolbar-theme($concept-bed-ui-theme);
@include mat.progress-bar-theme($concept-bed-ui-theme);
@include mat.progress-spinner-theme($concept-bed-ui-theme);
@include mat.form-field-theme($concept-bed-ui-theme);
@include mat.input-theme($concept-bed-ui-theme);
@include mat.button-theme($concept-bed-ui-theme);
@include mat.icon-theme($concept-bed-ui-theme);
@include mat.card-theme($concept-bed-ui-theme);
@include mat.chips-theme($concept-bed-ui-theme);
@include mat.table-theme($concept-bed-ui-theme);
@include mat.list-theme($concept-bed-ui-theme);
@include mat.paginator-theme($concept-bed-ui-theme);
@include mat.sort-theme($concept-bed-ui-theme);
@include mat.tooltip-theme($concept-bed-ui-theme);
@include mat.select-theme($concept-bed-ui-theme);
@include styles.theme($concept-bed-ui-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;

  &.mat-typography {
    font: 400 14px / 20px "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.app-l-flex {
  display: flex;
}

.app-l-inline-flex {
  display: inline-flex;
}

.app-l-flex-column {
  flex-direction: column;
}

.app-l-align-center {
  align-items: center;
}

.app-l-justify-center {
  justify-content: center;
}

.app-l-flex-row {
  flex-direction: row;
}

// Generates the following spacing styles:
// -- Paddings
//  .app-p-0:   padding: 0;
//  .app-pl-0:  padding-left: 0;
//  .app-pt-0:  padding-top: 0;
//  .app-pr-0:  padding-right: 0;
//  .app-pb-0:  padding-bottom: 0;
//  .app-p-1r:  padding: 1rem;
//  .app-pl-1r: padding-left: 1rem;
//  .app-pt-1r: padding-top: 1rem;
//  .app-pr-1r: padding-right: 1rem;
//  .app-pb-1r: padding-bottom: 1rem;
//  .app-p-2r:  padding: 2rem;
//  .app-pl-2r: padding-left: 2rem;
//  .app-pt-2r: padding-top: 2rem;
//  .app-pr-2r: padding-right: 2rem;
//  .app-pb-2r: padding-bottom: 2rem;
// -- Margins
//  .app-m-0:   margin: 0;
//  .app-ml-0:  margin-left: 0;
//  .app-mt-0:  margin-top: 0;
//  .app-mr-0:  margin-right: 0;
//  .app-mb-0:  margin-bottom: 0;
//  .app-m-1r:  margin: 1rem;
//  .app-ml-1r: margin-left: 1rem;
//  .app-mt-1r: margin-top: 1rem;
//  .app-mr-1r: margin-right: 1rem;
//  .app-mb-1r: margin-bottom: 1rem;
//  .app-m-2r:  margin: 2rem;
//  .app-ml-2r: margin-left: 2rem;
//  .app-mt-2r: margin-top: 2rem;
//  .app-mr-2r: margin-right: 2rem;
//  .app-mb-2r: margin-bottom: 2rem;

$spacing: (
  0: 0,
  1r: 1rem,
  2r: 2rem,
);
$directions: (
  l: left,
  t: top,
  r: right,
  b: bottom,
);

@mixin spacing($prop, $short) {
  @each $space-name, $space in $spacing {
    .app-#{$short}-#{$space-name} {
      #{$prop}: $space !important;
    }
    @each $dir-name, $dir in $directions {
      .app-#{$short}#{$dir-name}-#{$space-name} {
        #{$prop}-#{$dir}: $space !important;
      }
    }
  }
}

@include spacing(padding, p);
@include spacing(margin, m);

.app-c-profile-picture img {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.app-c-profile {
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 62px;
  animation: gb__a 0.2s;
}
